
@using VartasAssignment.Models





@{
    ViewBag.Title = "Home Page";
    
}

@*Jätetty sivu valmiiksi pohjaksi seuraaville tehtäville.*@


<div class="row">
    <div class="col-md-3">
        <h3>Lisää elokuva</h3>
        @using (Html.BeginForm("CreateStory", "Story")) 
        {
            <div class="form-group">
                @Html.Label("movieName", "Elokuvan nimi: ")
                @Html.TextBox("movieName", null, new { @class = "form-control" })
                @Html.Label("description", "Kuvaus: ")
                @Html.TextArea("description", new { @class = "form-control" })
                @Html.Label("category", "Genre: ")
                @Html.DropDownList("category",
                    new SelectList(Enum.GetValues(typeof(Movie.ECategory))),
                    new { @class = "form-control" })
                <br>
                <fieldset>
                    <legend>Esitysaika</legend>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Alkaa")
                            <div class="radio">
                                <label>@Html.RadioButton("startTime", "15:00") 15:00</label>
                            </div>
                            <div class="radio">
                                <label>@Html.RadioButton("startTime", "16:00") 16:00</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Loppuu")
                            <div class="radio">
                                <label>@Html.RadioButton("endTime", "17:00") 17:00</label>
                            </div>
                            <div class="radio">
                                <label>@Html.RadioButton("endTime", "18:00") 18:00</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="checkbox">
                    <label> Hyväksyn lisäyksen ehdot</label>
                </div>
                <button class="form-control" type="submit">Lisää elokuva</button>

            </div>
        }
        
    </div>

    <div class="col-md-9">
        <h1 align="center">Elokuvateatteri X</h1>
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.movieName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.category)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.description)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.startTime)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.endTime)</th>

            </tr>
            </thead>
            <tbody>



            @{
                int count = 0; //Muuttuja laskemaan elokuvien kokonaismäärää

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.movieName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endTime)
                        </td>
                    </tr>
                    count++;
                }
            }

            <tr>

                <td>
                    Elokuvia yhteensä: @count
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
  
</div>